/* Global Styles */

:root {
    --darkest: #101114;
    --dark: #25252c;
    --primary: #E8B717;
    --secondary: #B32424;
    --light: #F2EDCE;
}

body {
    background-color: var(--dark);
    background-image: url('https://www.filterforge.com/filters/13622.jpg') opacity(0.8)
}



/* Animation Keyframes DO NOT TOUCH!!!! */

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes picslideleft{
    from {
        margin-left: 50px;
        opacity: 0;
    }
    to {
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes picslideright{
    from {
        margin-right: 50px;
        opacity: 0;
    }
    to {
        margin-right: 0px;
        opacity: 1;
    }
}

/* Assets */

/* Ripped Papers */
.asset1 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 30vw;
    animation-name: picslideright;
    animation-duration: 1s;
}

.asset2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 30vw;
    animation-name: picslideleft;
    animation-duration: 1s;
}

/* Clean Papers */
.asset4{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    animation-name: picslideleft;
    animation-duration: 1s;
}
.asset5{
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    animation-name: picslideright;
    animation-duration: 1s;
}

/* Landing Page Styles */

.landingimg {
    width: 30vw;
    animation-name: fadein;
    animation-duration: 1s;
}

.landingContainer{
    display: 'flex';
    justify-content: 'space-evenly';
    flex-wrap: wrap;
}


/* Login and Sign Up Styles */
.loginLogo {
    width: 20vw;
    margin:5vw;
}

.loginLogoText {
    font-family: 'Permanent Marker';
    height: 20vh;
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
    color: var(--light);

}

.loginInput {
    background-color: var(--primary);
    color: var(--light);
    width: 30vw;
    
}

.loginsubmit {
    background-color: var(--secondary);
    color: var(--light)
}
/* DashBoard Styles */

/* DadCreate Styles */

.createContainer {
    display: flex;
    justify-content: space-around;
}

.createInput{
    background-color: var(--primary)
}
/* Fight Styles */

.fightimg {
    width: 30vw;
    animation-name: fadein;
    animation-duration: 1s;
}

.fightDiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.fightbtn {
    background-color: var(--secondary) !important;
    color: var(--light) !important;
    margin: 10px !important;
}

.fightdrop {
    background-color: var(--primary);
    border-radius: 10px;
    font-weight: bold;
}

#select-dad {
    color: var(--dark);
}

.results {
    background-color: var(--primary);
    font-family: 'Permanent Marker' !important;
    margin: 3px;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
    .asset4{
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    .fightimg{
        order: 1
    }
    .fightCard{
        order: 2
    }
    .landingContainer{
        justify-content: center;
    }
    .loginLogo{
        width: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .loginInput{
        width: 50vw;
    }
    
}

@media screen and (max-width: 400px) {
    .loginInput{
        width: 80vw;
    }
    
    
}