img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.landingimg {
  flex-shrink: 0; /* This item can shrink if necessary */
  min-width: 210px; /* But not smaller than 200px */
}
